*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #ddd;
    padding: 20px 0;
}

header, .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, nav, ul {
    list-style: none;
    display: flex;
    background: white;
}

header, nav, ul, li {
    margin-left: 20px;
}
.hero {
    background-image: url('./photo_2025-03-15_13-15-31.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333; 
}

.hero-content {
    text-align: left;
    width: 50%;
    padding: 20px;
    
}

.hero, h1{
    margin-bottom: 20px;
}

.hero, p {
    margin-bottom: 30px;
}

.btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}
.vers{
    width: 1200px;
    height: 395px;
    border: 1px solid gray;
    top: 1037px;
    left: 120px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}
.enarse{
    width: 300px;
    height: 300px;
    text-align: center;
}
.to{
    margin-top: 30px;
    margin-bottom: 70px;
}
.the{
    margin-top: 60px;
}
.sepecoin{

    display: flex;
}
.htery,
.main{
    width: 50%;
    
}
.we{
    font-size: 50px;
    margin-bottom: 70px;
}
.button{
    width: 190px;
    height: 40px;
    background: #333;
    color: #FFFFFF;
    font-weight: 700; 
}
.what{
    width: 100%;
    height: 675px;

    justify-content: center;
}
.about{
    font-size: 50px;
    margin-bottom: 10px;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
}
.pen{
    margin-left: 300px;
}
.penes{
    margin-left: 430px;
}
.ensoe{
    
    display: flex;
    gap: 50px;
    justify-content: center;
}
.html{
    width: 456px;
    height: 289px;
    top: 0.39px;
    border: 1px solid gray;
    justify-content: center;
}
.eni{
    border-radius: 50%;
    margin-top: 90px;
    margin-left: 30px;
}
.lise{
    margin-left: 10px;
    
}